<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.netcenter" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Anim_fade" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ServerList_"
            android:label="@string/title_activity_server_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Anim_fade" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.MainActivity" />
        </activity>
        <activity
            android:name=".activity.GridActivity_"
            android:label="@string/title_activity_grid"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddDevice_"
            android:label="@string/title_activity_add_server"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddActivity.DeviceType"
            android:label="@string/title_activity_device_type"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddActivity.Descripiton"
            android:label="@string/title_activity_descripiton"
            android:parentActivityName=".activity.AddDevice_"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddDevice_" />
        </activity>
        <activity
            android:name=".activity.AddActivity.Position_"
            android:label="@string/title_activity_position"
            android:parentActivityName=".activity.AddDevice_"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddDevice_" />
        </activity>
        <activity
            android:name=".activity.AddActivity.IP_address"
            android:label="@string/title_activity_ip_address"
            android:parentActivityName=".activity.AddDevice_"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddDevice_" />
        </activity>
        <activity
            android:name=".activity.AddActivity.AccountPwd"
            android:label="@string/title_activity_account_pwd"
            android:parentActivityName=".activity.AddDevice_"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddDevice_" />
        </activity>
        <activity
            android:name=".activity.AddActivity.Operating_System_"
            android:label="@string/title_activity_operating__system"
            android:parentActivityName=".activity.AddDevice_"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddDevice_" />
        </activity>
        <activity
            android:name=".activity.AddActivity.Unit"
            android:label="@string/title_activity_unit"
            android:parentActivityName=".activity.AddDevice_"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddDevice_" />
        </activity>
        <activity
            android:name=".activity.AddActivity.Switch"
            android:label="@string/title_activity_switch"
            android:parentActivityName=".activity.AddActivity.DeviceType"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddActivity.DeviceType" />
        </activity>
        <activity
            android:name=".activity.AddActivity.Server_brand"
            android:label="@string/title_activity_server_1"
            android:parentActivityName=".activity.AddActivity.DeviceType"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddActivity.DeviceType" />
        </activity>
        <activity
            android:name=".activity.AddActivity.Server_type"
            android:label="@string/title_activity_server_type"
            android:parentActivityName=".activity.AddActivity.DeviceType"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddActivity.DeviceType" />
        </activity>
        <activity
            android:name=".activity.AddActivity.PC"
            android:label="@string/title_activity_pc"
            android:parentActivityName=".activity.AddActivity.DeviceType" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddActivity.DeviceType" />
        </activity>
        <activity
            android:name=".activity.AddActivity.AP"
            android:label="@string/title_activity_ap"
            android:parentActivityName=".activity.AddActivity.DeviceType" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.administrator.netcenter.activity.AddActivity.DeviceType" />
        </activity>
    </application>

</manifest>
